@model CasoEstudio2.Entities.CasaEnt

@{
    ViewBag.Title = "AlquilarCasas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Información General</h4>

            @if (ViewBag.MensajeUsuario != null)
            {
                <div class="alert alert-info" role="alert" style="text-align:center">
                    @ViewBag.MensajeUsuario
                </div>
            }

            @using (Html.BeginForm("AlquilarCasas", "Casas", FormMethod.Post, new { @class = "pt-3" }))
            {

                @Html.HiddenFor(m => m.IdCasa, new { id = "hdnIdCasa" })
                <div class="form-group">
                    <label for="Test">IdCasa</label>
                    @Html.DropDownListFor(m => m.DescripcionCasa, ViewBag.DescripcionCasas as List<SelectListItem>, new { @id = "descripcionCasa", @class = "form-control form-control-lg"})

                </div>

                <div class="form-group">
                    <label for="exampleInputName1"> Precio</label>
                    @Html.TextBoxFor(m => m.PrecioCasa, new { @readonly = "@readonly", style = "background-color:#eeeeee", @id = "precio", @class = "form-control form-control-lg", @type = "text", placeholder = "Precio" })
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail3">Nombre</label>
                    @Html.TextBoxFor(m => m.UsuarioAlquiler, new { @class = "form-control form-control-lg", @type = "text", placeholder = "Usuario" })
                </div>

                <button type="submit" class="btn btn-primary mr-2">Alquilar</button>
            }

        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function () {
        $('#descripcionCasa').change(function () {
            var selectedValue = $(this).val();

            var selectedValue = $(this).val();
            var values = selectedValue.split('_');
            var idCasa = values[0];

            $('#hdnIdCasa').val(idCasa);
            console.log('Valor de idCasa:', idCasa);

            actualizarSaldo();
        });

        function actualizarSaldo() {
            var selectedValue = $('#descripcionCasa').val();
            var values = selectedValue.split('_');
            var precio = values[1];
            $('#precio').val(precio);
        }

        actualizarSaldo();
    });
</script>